*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8),rgba(58, 58, 158, 0.8)), url('/home/yanwaytoe/Computer Science/Html Css Test/Survey Form/Survey-image/survey.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #f3f3f3;
}

body::before{

  content: '';
  width: 100%;
  height: 100%;
}

label{
  display: flex;
}

h1{
  font-weight: 400;
  line-height: 1.2;
}

p{
  font-size: 1.125rem;
}

h1,p{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

input,select,textarea{
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}


@media (min-width: 480px){
  .container{
    max-width: 500px;
  }
}

.Header{
  text-align: center;
  margin-top: 20px;
  color: #f3f3f3;
}

.landscape{
  width: 100%;
}

.form-group{
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.container{
  width: 100%;
  margin: 1rem auto 0 auto;
}

.form-control{
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio, .input-checkbox{
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-height: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
